Repository RocketChat/Rocket.Chat.Kotlin.SDK, pull requests merged in 2018-03, with the labels that each got.

#75 [NEW] Support login with email
  core/src/main/kotlin/chat/rocket/core/internal/model/EmailLoginPayload.kt
  core/src/main/kotlin/chat/rocket/core/internal/model/UsernameLoginPayload.kt
  core/src/main/kotlin/chat/rocket/core/internal/rest/Login.kt
  core/src/test/kotlin/chat/rocket/core/internal/rest/LoginTest.kt
Labels: feature, rest

#77 [FIX] Bug in setAvatar while updating user avatar
  core/src/main/kotlin/chat/rocket/core/internal/rest/User.kt
Labels: bug

#82 [NEW] Add Spotlight REST call
  core/src/main/kotlin/chat/rocket/core/internal/rest/Spotlight.kt
  core/src/main/kotlin/chat/rocket/core/model/SpotlightResult.kt
  core/src/test/kotlin/chat/rocket/core/internal/rest/Constants.kt
  core/src/test/kotlin/chat/rocket/core/internal/rest/SpotlightTest.kt
Labels: rest

#84 Fix payload fields when updating user profile
  core/src/main/kotlin/chat/rocket/core/internal/model/UserPayload.kt
  core/src/main/kotlin/chat/rocket/core/internal/rest/Login.kt
  core/src/main/kotlin/chat/rocket/core/internal/rest/User.kt
  core/src/test/kotlin/chat/rocket/core/internal/rest/SpotlightTest.kt
Labels: bug

#83 [NEW] Add support for login when LDAP is enabled.
  core/src/main/kotlin/chat/rocket/core/internal/model/LdapLoginPayload.kt
  core/src/main/kotlin/chat/rocket/core/internal/rest/Login.kt
  core/src/test/kotlin/chat/rocket/core/internal/rest/LoginTest.kt
Labels: feature

#85 [NEW] Implement call to get permissions
  core/src/main/kotlin/chat/rocket/core/internal/rest/Permissions.kt
  core/src/main/kotlin/chat/rocket/core/model/Permission.kt
  core/src/test/kotlin/chat/rocket/core/internal/rest/PermissionsConstants.kt
  core/src/test/kotlin/chat/rocket/core/internal/rest/PermissionsTest.kt
Labels: feature

#71 [BUG] Fixed JSON Format for Profile Creation and Modification
  core/src/main/kotlin/chat/rocket/core/internal/model/SignUpPayload.kt
  core/src/main/kotlin/chat/rocket/core/internal/rest/Login.kt
Labels: bug

#91 [NEW] Add support to login through CAS.
  core/src/main/kotlin/chat/rocket/core/internal/model/CasLoginPayload.kt
  core/src/main/kotlin/chat/rocket/core/internal/rest/Login.kt
  core/src/main/kotlin/chat/rocket/core/model/Myself.kt
  core/src/test/kotlin/chat/rocket/core/internal/rest/LoginTest.kt
Labels: feature, rest

#87 [NEW] Implement commands.list REST endpoint call
  core/src/main/kotlin/chat/rocket/core/internal/rest/Commands.kt
  core/src/main/kotlin/chat/rocket/core/model/Command.kt
  core/src/test/kotlin/chat/rocket/core/internal/rest/CommandsConstants.kt
  core/src/test/kotlin/chat/rocket/core/internal/rest/CommandsTest.kt
Labels: feature, rest

#97 [NEW] Toggle reactions
  core/src/main/kotlin/chat/rocket/core/RocketChatClient.kt
  core/src/main/kotlin/chat/rocket/core/internal/ReactionsAdapter.kt
  core/src/main/kotlin/chat/rocket/core/internal/model/ReactionPayload.kt
  core/src/main/kotlin/chat/rocket/core/internal/rest/Messages.kt
  core/src/main/kotlin/chat/rocket/core/model/Message.kt
  core/src/main/kotlin/chat/rocket/core/model/Reactions.kt
  core/src/test/kotlin/chat/rocket/core/internal/ReactionsAdapterTest.kt
  core/src/test/kotlin/chat/rocket/core/internal/rest/MessagesTest.kt
Labels: feature, rest

#101 [NEW] Implement channels.join REST endpoint call
  core/src/main/kotlin/chat/rocket/core/internal/model/ChatRoomPayload.kt
  core/src/main/kotlin/chat/rocket/core/internal/rest/ChatRoom.kt
  core/src/test/kotlin/chat/rocket/core/internal/rest/ChatRoomTest.kt
Labels: feature, rest

#103 [FIX] Sign up payload.
  core/src/main/kotlin/chat/rocket/core/internal/model/SignUpPayload.kt
Labels: bug, rest

#108 [FIX] Satisfies lint
  compat/src/main/kotlin/chat/rocket/core/compat/internal/Callback.kt
  core/src/main/kotlin/chat/rocket/core/RocketChatClient.kt
  core/src/main/kotlin/chat/rocket/core/internal/AttachmentAdapter.kt
  core/src/main/kotlin/chat/rocket/core/internal/ReactionsAdapter.kt
  core/src/main/kotlin/chat/rocket/core/internal/model/CommandPayload.kt
  core/src/main/kotlin/chat/rocket/core/internal/model/DeletePayload.kt
  core/src/main/kotlin/chat/rocket/core/internal/model/EmailLoginPayload.kt
  core/src/main/kotlin/chat/rocket/core/internal/model/LdapLoginPayload.kt
  core/src/main/kotlin/chat/rocket/core/internal/model/MessagePayload.kt
  core/src/main/kotlin/chat/rocket/core/internal/model/PushPayloads.kt
  core/src/main/kotlin/chat/rocket/core/internal/model/ReactionPayload.kt
  core/src/main/kotlin/chat/rocket/core/internal/model/SignUpPayload.kt
  core/src/main/kotlin/chat/rocket/core/internal/model/SocketMessage.kt
  core/src/main/kotlin/chat/rocket/core/internal/model/SocketToken.kt
  core/src/main/kotlin/chat/rocket/core/internal/model/UserPayload.kt
  core/src/main/kotlin/chat/rocket/core/internal/model/UsernameLoginPayload.kt
  core/src/main/kotlin/chat/rocket/core/internal/realtime/Socket.kt
  core/src/main/kotlin/chat/rocket/core/internal/realtime/UserPresence.kt
  core/src/main/kotlin/chat/rocket/core/internal/rest/Commands.kt
  core/src/main/kotlin/chat/rocket/core/internal/rest/InputStreamRequestBody.kt
  core/src/main/kotlin/chat/rocket/core/internal/rest/Login.kt
  core/src/main/kotlin/chat/rocket/core/internal/rest/Messages.kt
  core/src/main/kotlin/chat/rocket/core/internal/rest/Server.kt
  core/src/main/kotlin/chat/rocket/core/internal/rest/User.kt
  core/src/main/kotlin/chat/rocket/core/model/ChatRoom.kt
  core/src/main/kotlin/chat/rocket/core/model/DeleteResult.kt
  core/src/main/kotlin/chat/rocket/core/model/Email.kt
  core/src/main/kotlin/chat/rocket/core/model/Message.kt
  core/src/main/kotlin/chat/rocket/core/model/Myself.kt
  core/src/main/kotlin/chat/rocket/core/model/PagedResult.kt
  core/src/main/kotlin/chat/rocket/core/model/Permission.kt
  core/src/main/kotlin/chat/rocket/core/model/PushToken.kt
  core/src/main/kotlin/chat/rocket/core/model/Room.kt
  core/src/main/kotlin/chat/rocket/core/model/SpotlightResult.kt
  core/src/main/kotlin/chat/rocket/core/model/UserRole.kt
  core/src/main/kotlin/chat/rocket/core/model/attachment/AudioAttachment.kt
  core/src/main/kotlin/chat/rocket/core/model/attachment/ImageAttachment.kt
  core/src/main/kotlin/chat/rocket/core/model/attachment/MessageAttachment.kt
  core/src/main/kotlin/chat/rocket/core/model/attachment/VideoAttachment.kt
  core/src/main/kotlin/chat/rocket/core/model/url/Meta.kt
  core/src/main/kotlin/chat/rocket/core/model/url/ParsedUrl.kt
  core/src/test/kotlin/chat/rocket/core/internal/rest/ChatRoomTest.kt
  core/src/test/kotlin/chat/rocket/core/internal/rest/CommandsTest.kt
  core/src/test/kotlin/chat/rocket/core/internal/rest/MessagesTest.kt
  core/src/test/kotlin/chat/rocket/core/internal/rest/UserTest.kt
Labels: project

#109 [NEW] List all oauth services
  common/build.gradle
  common/src/main/kotlin/chat/rocket/common/internal/FallbackSealedClass.kt
  common/src/main/kotlin/chat/rocket/common/model/SettingsOauth.kt
  compat/build.gradle
  core/build.gradle
  core/src/main/kotlin/chat/rocket/core/internal/model/ConfigurationsPayload.kt
  core/src/main/kotlin/chat/rocket/core/internal/rest/Server.kt
  dependencies.gradle
  rxjava/build.gradle
  sample/src/main/kotlin/rocket/chat/kotlin/sample/Sample.kt
Labels: feature, rest

#110 [NEW] Oauth login
  core/src/main/kotlin/chat/rocket/core/internal/model/CasLoginPayload.kt
  core/src/main/kotlin/chat/rocket/core/internal/model/OauthLoginPayload.kt
  core/src/main/kotlin/chat/rocket/core/internal/rest/Login.kt
  core/src/test/kotlin/chat/rocket/core/internal/rest/LoginTest.kt
Labels: feature, rest
