Repository RocketChat/Rocket.Chat.Kotlin.SDK, pull requests merged in 2018-02, with the labels that each got.

#59 [NEW] Rest API to upload file
  core/src/main/kotlin/chat/rocket/core/internal/rest/Messages.kt
  core/src/main/kotlin/chat/rocket/core/internal/rest/User.kt
  core/src/test/kotlin/chat/rocket/core/internal/rest/Constants.kt
  core/src/test/kotlin/chat/rocket/core/internal/rest/LogoutTest.kt
  core/src/test/kotlin/chat/rocket/core/internal/rest/MessagesTest.kt
Labels: feature, rest

#60 [NEW] Supporting user email list
  common/src/main/kotlin/chat/rocket/common/model/User.kt
Labels: feature

#66 [FIX] Wrong JSON key for lastModified
  core/src/main/kotlin/chat/rocket/core/internal/model/Subscription.kt
  core/src/main/kotlin/chat/rocket/core/model/ChatRoom.kt
Labels: bug

#73 [NEW] Mark room as read
  core/src/main/kotlin/chat/rocket/core/internal/model/ChatRoomPayload.kt
  core/src/main/kotlin/chat/rocket/core/internal/rest/ChatRoom.kt
  core/src/test/kotlin/chat/rocket/core/internal/rest/ChatRoomTest.kt
Labels: feature, rest

#78 [NEW] List the room members.
  core/src/main/kotlin/chat/rocket/core/internal/model/ChatRoomPayload.kt
  core/src/main/kotlin/chat/rocket/core/internal/rest/ChatRoom.kt
  core/src/test/kotlin/chat/rocket/core/internal/rest/ChatRoomTest.kt
  core/src/test/kotlin/chat/rocket/core/internal/rest/Constants.kt
Labels: feature, rest
